# Virtual Environment
project3/
env/

# Data files (we don't want raw data bloating our GitHub repo)
data/
*.csv
*.json

# Environment variables (for API keys)
.env 
*.log
.env.*
*.env
env/
.venv/
venv/

# Python
__pycache__/
*.pyclogs/ 
*.pyc

# Airflow
logs/
airflow/logs/

# Streamlit cache
.streamlit/

# macOS / Windows
.DS_Store
Thumbs.db